div#innerContentBox {
    background-color: white;
    width: 1152px;
    height: 90%;

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;

    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

@media (max-width: 1280px) {
    div#innerContentBox {
        width: 90%;
    }
}

@media (max-width: 700px) {
    div#innerContentBox {
        flex-direction: column;
    }
}

.box {
    /* border-top-left-radius: 5%; */
    /* border-bottom-right-radius: 5%; */
    border: #444444;
    border-style: solid;
    border-width: 1px;
    background-color: #FFF;
    padding:15px;
    width: 100%;
    height: 200px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "imagediv info";
}

.imagediv {

    
}

.imagediv img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    font-family: 'Ubuntu-Regular', sans-serif;
    font-size: 0.9em;
    color: #333333;
}
/* @media (max-width: 1280px) {
    .box {
        height: calc()
    }
} */

/* @media (max-width: 700px) { 
    .box {
        width: 90%;
    }
} */

