:root {
    --darkgreen1: #2c2d26;
    --darkgreen2: #646a4e;
}

#innerContentBox {
    width: 1152px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

@media (max-width: 700px) {
    #innerContentBox {
        grid-template-areas:
        "video"
        "fishInfo"
        "sensorData"
        "sensorGraph"
    }
    #videoBox {
        width: 100%;
        height: 480px;
    }
    #fishInfoBox {
        width: 100%;
    }
    #sensorDataBox {
        width: 100%;
    }
    #sensorGraphBox {
        width: 100%;
    }
}

.box {
    /* border-top-left-radius: 5%; */
    /* border-bottom-right-radius: 5%; */
    background-color: white;
    border : 1px solid #cdddbf;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

#videoBox {
    grid-area: video;
    
    flex: 1 1 700px; /* Allow flex item to shrink and grow, and take 50% width */
    width: 640px;
    height: 480px;
}

#fishInfoBox {
    background-color: #CDA;
    color: #020;
    grid-area: fishInfo;
    flex: 1 1 30%; /* Allow flex item to shrink and grow, and take 50% width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 480px;
}

#dividerBox {
    grid-area: divider;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to left, var(--darkgreen1), var(--darkgreen2));

}

#sensorDataBox {
    background-color: #CDA;
    color: #020;
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sensorGraphBox {
    flex: 1 1 700px; /* Allow flex item to shrink and grow, and take 50% width */
}

.sensorgraph {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.reading {
    display: flex;
    justify-content: space-between;
    width:100%;
    font-size: 1.1em;
    font-family: 'Ubuntu-Regular', sans-serif;
}

.param {
    text-align: right;
    width:50%;
    padding:3px;
    font-weight: bold;
}

.arg {
    text-align: left;
    width:50%;
    padding:3px;

  }

  #videoSrc {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

#sensorgraph_id
{
    width: 700px;
    height: 100%;
    object-fit: contain;
}