:root {
    --darkblue1: #1a477e;
    --darkblue2: #3a6999;

    --lightblue1: #a9e9fe;
    --lightblue2: #e0f7ff;
    

    --lightgrey1: #e8e8e8;
    --darkgrey1: #222;
    --darkgrey2: #888;
    --darkgrey3: #555;

    --mediumgrey1: #999;

    --scrollbar-bg: #222;
    --scrollbar-thumb: #d2dfbe;
    --scrollbar-thumb-hover: #d2dfbe;
    --scrollbar-fg: rgb(170, 180, 56);

    --titlebg: #42442f;
    --mainbg: #f7f4ef;
    --titleline: #2c2d26;
    --text: #42442f;
    --titletext: #fbeec8;
    --links: white;
    --linkshover: #d2dfbe;

    --darkgreen1: #2c2d26;
    --darkgreen2: #646a4e;
    

}

::-webkit-scrollbar {
    height: 12px;
	width: 5px;
    background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-fg);
	border-radius: 1ex;
	-webkit-border-radius: 1ex;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #a9e9fe;
}


@font-face {
    font-family: 'Bellota-Bold';
    src:    url('fonts/Bellota-Bold.woff2') format('woff2'),
            url('fonts/Bellota-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Bellota-BoldItalic';
    src:    url('fonts/Bellota-BoldItalic.woff2') format('woff2'),
            url('fonts/Bellota-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src:    url('fonts/Ubuntu-Bold.woff2') format('woff2'),
            url('fonts/Ubuntu-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src:    url('fonts/Ubuntu-Medium.woff2') format('woff2'),
            url('fonts/Ubuntu-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src:    url('fonts/Ubuntu-Regular.woff2') format('woff2'),
            url('fonts/Ubuntu-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Righteous';
    src:    url('fonts/Righteous-Regular.woff2') format('woff2'),
            url('fonts/Righteous-Regular.woff') format('woff');
}

body {
    font-family: 'Ubuntu-Regular', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--darkgrey1);
    background-color: var(--mainbg);
}

a:link, a:visited {
    color: var(--darkgrey1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--darkgrey3);
    text-decoration: underline;
}


/********* Banner stuff **********/
div#banner {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    background-repeat: repeat-x;
    display: flex;
    justify-content:left;
    align-items:center;
    background-color: var(--titlebg);
}

h1#titleH1 {
    padding-left: 40px;
    font-size: 6em;
    font-family: 'Righteous', 'Bellota-Bold', sans-serif;
    color: var(--titletext);
    text-shadow: 2px 2px 2px var(black);
}

div.bottomBorder {
    height: 5px;
    width:100%;
}

div#bannerBottomBorder {
    background-image: linear-gradient(to right, var(--darkgreen1), var(--darkgreen2));
    position: absolute;
    top:100px;
    left: 0px;
}

/********** Navigation stuff **********/
div#navbar {
    position: absolute;
    top: 10px;
    width: 100%;
    align-items: right;
    text-align: right;
    height: 40px;
    left:0px;
    display: flex;
    justify-content: right;
    font-size: 1.5em;
    color: var(--links);
}

.linkContainer {
    padding: 5px;
    padding-right: 10px;
    border-radius: 5px;
}

.linkContainer a {
    text-decoration: none;
    color: var(--links);
    font-weight: bold;
    display: inline-block;
}

.linkContainer a:hover {
    text-decoration: underline;
    color: var(--linkshover);
    font-weight: bold;
    display: inline-block;
}

.linkContainer a:active {
    text-decoration: underline;
    color: var(--darkgrey3);
    font-weight: bold;
    display: inline-block;
}

@media (max-width: 600px) {
    .linkContainer a {
        font-size: 1.2em;
    }
}

div#navbarBottomBorder {
    background-image: linear-gradient(to left, var(--darkgrey1), var(--darkgrey2));
    position: absolute;
    top: 145px;
    left: 0px;
}

/********** Main content stuff **********/

div#outerContentBox {
    position: absolute;
    top: 110px;
    left: 0px;
    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/********** Helper funcs **********/
.noSelect {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}